li {
    padding: 5px;
    margin: 5px;
    background: #f39923;
  }
  
 body{
   background-color: darkgoldenrod;
 }
  
  #burgerForm {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  #eatForm{
    margin-bottom: 5px;
  }
  